*
{
    margin: 0;
    padding:0;
    
}

.Wrapper
{
  
    /* padding:20px; */
    margin-top: 30px;;
    position: relative;
    height:470;
    display:flex;
    flex-direction: column;
    overflow-x : hidden;
    

}
 .WrapBox
 {
    display: flex;
    flex-direction: row;
    padding:30px 0px;
    width:100%;
    
    background-color:  #F5F4F2;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    gap:50px;
    margin-top:120px;
 }
 .services
 {
    width: 94px;
   height: 133.7px;
 }
 .vline
 {
    height: 80px;
   border:1px solid #FFC7D1;
 }
 .SubscribeHandler
 {
    width:800px;
    margin:0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Libre Baskerville';
    background: linear-gradient(97.3deg, #AB001E -6.23%, #770015 105.09%);
 }

 .cf:before, .cf:after{
content:"";
display:table;
}

.cf:after{
clear:both;
}

.cf{
zoom:1;
}    


.search-wrapper {
width: 450px;
margin: 30px auto 50px auto;
border-radius: 0px;
background: transparent;
border: none;

}



.search-wrapper input {
padding-left: 20px;
width: 330px;
height: 50px;
padding: 10px 5px;
float: left;   
font-family: 'Montserrat';
font-style: normal;
/* font-weight: 500; */
border: none;
background: #d87d8e;
color:white;
border-radius: 0px;
border-top-style: none;
}



.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 50px;
width: 120px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 29px;
border: none;
color:#770015 ;
text-transform: uppercase;
background:  #ffffff;
border-radius: 0px;

}  
.headLine
{
width:390px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 48px;
text-align: center;

color: #FFFFFF;
}
.Banner
{
display: flex;
flex-direction: row;
justify-content: center;
gap:20px;
align-content: center;
padding:50px 0px 0px 0px;
}
.WrapContent
{
display: flex;
margin-top: 70px;
flex-direction: column;
background-color: #E0DFDE;
gap:20px;  
}
.divison1
{
width: 360px;
height: 178.33px;


font-family: 'Montserrat';
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 28px;
}
.divison2
{
width: 166px;
height: 223.33px;
display: flex;
flex-direction: column;
gap:12px;
}
.divison3
{
width: 205px;
height: 223.33px;
display: flex;
flex-direction: column;
gap:11px;
}
.search-wrapper input::placeholder { 
color: white;
opacity: 1;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px; 
}
.imageLogo
{
display: flex;
flex-direction: row;
gap:15px;
height: 30px;
width:15.5px;
width:350px;
margin-top: 20px;;
}
.divison4
{
width: 331px;
height: 160px;
display: flex;
flex-direction: column;
gap:25px;
}
.circle1
{
   position: absolute;
    top: 15%;
     right: -5%;
     transform: rotate(-90deg);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: #770015;

}
.circle2
{
   position: absolute;
    top:53%;
     left: -5%;
     /* margin-top: 50px; */
     transform: rotate(90deg);
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: #770015;
    

}

.divison2 p:first-child
{
margin-bottom: 15px;
color:#770015;
font-family: 'Playfair Display';
font-weight: bold;
}
.divison3 p:first-child
{
margin-bottom: 15px;
font-weight: bold;
color:#770015;
font-family: 'Playfair Display';
}
.divison4 p:first-child
{

color:#770015;
font-family: 'Playfair Display';
font-weight: bold;
}
.location
{
display: flex;
flex-direction: row;
gap:8px;

}
.newlogo
{
width:22px;
height:20px;
}
.bottomfooter
{
display: flex;
justify-content: center;
align-content: center;
padding:20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
background-color:  #20050A;;
color: #FFFFFF;

}